.hide {
    opacity: 0;
    transition: opacity 0.3s ease; /* Add transition for opacity */
}


.close {
    margin: 1% 6%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-family: cursive;
    color: #d98e6b;
}


aside.sidebar-container {
    border-radius: 18px !important;
    position: fixed;
    top: 15%;
    left: 1%;
    overflow: hidden;
    min-height: 80% !important;
    border: 2px solid #f0ab83;
}

.bg-photo-overlay {
    background: rgb(0 0 0 / 52%) !important;
}

/* Style for the side launcher container */
.side-launcher {
    width: 40px; /* Adjust the width of the launcher container */
    height: 40px; /* Adjust the height of the launcher container */
    position: fixed; /* Position the launcher container fixed */
    left: 2%; /* Adjust the left position */
    top: 92%; /* Position the launcher container at 50% from the top */
    transform: translateY(-50%); /* Center the launcher container vertically */
    z-index: 999; /* Set a high z-index to ensure it appears above other elements */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 50%; /* Make the launcher container round */
    background: linear-gradient(145deg, #fed3bf, #5b2004); /* Apply gradient background */
    box-shadow: 0 4px 17px rgb(0 0 0 / 62%); /* Apply shadow effect */
    transition: width 0.3s ease, height 0.3s ease; /* Add transition for width and height */
}

.side-launcher:hover {
    width: 50px; /* Adjust the width on hover */
    height: 50px; /* Adjust the height on hover */
}

/* Style for the launcher icon */
.icon {
    font-size: 53px; /* Adjust the size of the icon */
    color: #fcfeff; /* Set the color of the icon */
    line-height: 34px; /* Center the icon vertically */
    text-align: center; /* Center the icon horizontally */
}